.menu-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  border: 2px solid black;
  border-radius: 15px;
}

.menu-btn__burger {
  width: 40px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
  content: "";
  position: absolute;
  width: 40px;
  height: 6px;
  background: black;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba((255, 101, 47), 0.2);
  transition: all 0.5s ease-in-out;
}

.menu-btn__burger::before {
  transform: translateY(-13px);
}

.menu-btn__burger::after {
  transform: translateY(13px);
}
